# Ignore node_modules
node_modules

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore Python cache files
__pycache__
*.pyc
*.pyo

# Ignore Dockerfile and .dockerignore itself
Dockerfile
.dockerignore

# Ignore any .env files
.env

# Ignore coverage reports
coverage
*.coverage

# Ignore stack folder
stack/

# Ignore docker-run.sh
docker-run.sh

# Ignore help.txt
help.txt
